html, body {
    height: 100%;
}
body {
    background-color: #0D1117;
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;  
    flex-wrap: wrap;
}
.box {
    display: flex;
    height: 60%;
    width: 60%;
    text-align: center;
    background-color: lightblue;
    flex-wrap: wrap;
}
.searchDevBox { 
     background-color: red;
     /* border-bottom: 3px solid gold; */
     height: 20%;
     width: 100%;
}

.imageBox {
    background-color: rgb(53, 110, 216);
    height: 30%;
    width: 25%;
}

.imageBox img {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

.repositoryInformationBox {
    background-color: purple;
    height: 30%;
    width: 75%;
}

.repoInformation {
    background-color: blue;
    border-radius: 20px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 70%;
}

.bioInformationBox {
    background-color: aqua;
    height: 50%;
    width: 25%;
}
.referenceDevBox {
    background-color: greenyellow;
    height: 50%;
    width: 75%;
}

.aboutDevBox {
    background-color: aliceblue;
    border-radius: 20px;
    height: 40%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #000;
    /* margin: 10px; */
}

.socialDevBox {
    background-color: teal;
    border-radius: 20px;
    height: 40%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* margin: 10px; */
}
